/* TODO Add site wide styles */
body{
    background-color: #142d4c;
    font-size: 25px;
    color: #191919
}
.page-container {
    min-height: 650px;
    height: 100%;
    background-color: #ececec;
    border-radius: 25px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h1 {
	color: #142d4c;
    text-align: center;
}
h2{
	color: #385170;
}

a:link {
    text-decoration: none;
    color: #191919
}

a:visited {
    text-decoration: none;
    color: #191919
}

a:hover {
    text-decoration: underline;
    transition: all 500ms;
    font-weight: 900;
    color: #191919
}

a:active {
    text-decoration: underline;
    color: #191919
}

ul.horizontal-list {
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;

    background-color: #9fd3c7;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

button{
  background-color: #1e3653;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 30px;
  line-height: 20px;
  list-style: none;
  margin: 2px;
  outline: none;
  padding: 1px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
button:hover{
  background-color: #4676b1;
}

.fcont{
    background: #748b9c;
    padding: 10px;
    border-radius: 5px;
    min-width: 300px;
    width: 350px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 10px;
}

.form-style-3{
	max-width: 450px;
    margin: 5px;
}
.form-style-3 input,
.form-style-3 textarea,
.form-style-3 select{
	border-radius: 3px;
	border: 1px solid darkblue;
	color: black;
	padding: 5px;
	background: lightyellow;
	width:90%;
}

.form-style-3 textarea{
    margin-top: 5px;
}
.required{
	color:red;
	font-weight:normal;
}
