/* TODO Add site wide styles */
body{
    background-color: #142d4c;
    font-size: 25px;
    color: #191919;
    align-items: center;
}
.page-container {
    width: 80%;
    margin: 0 auto;

    min-height: 650px;
    min-width: 650px;
    max-width: 800px;
    height: 100%;
    background-color: #ececec;
    border-radius: 25px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h1 {
	color: #142d4c;
    text-align: center;
}
h2{
	color: #385170;
    text-align: center;
}

a:link {
    text-decoration: none;
    color: #191919
}

a:visited {
    text-decoration: none;
    color: #191919
}

a:hover {
    text-decoration: underline;
    transition: all 500ms;
    font-weight: 900;
    color: #191919
}

a:active {
    text-decoration: underline;
    color: #191919
}

ul.horizontal-list {
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;

    background-color: #9fd3c7;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

button{
  background-color: #1e3653;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 30px;
  line-height: 20px;
  list-style: none;
  margin: 2px;
  outline: none;
  padding: 1px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  touch-action: manipulation;
}
button:hover{
  background-color: #4676b1;
}

.fcont{
    background: #497285;
    color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    min-width: 300px;
    width: 350px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 0 auto;
    padding-top: 1px;
}

.myform{
	max-width: 450px;
    margin: 5px;
}
.myform input,
.myform textarea,
.myform select{
	border-radius: 3px;
	border: 1px solid darkblue;
	color: black;
	padding: 5px;
	background: lightyellow;
	width:90%;
}

.myform textarea{
    margin-top: 5px;
}
.required{
	color:red;
	font-weight:normal;
}

.brcont{
    border-style: solid;
	border-radius: 15px;
    border-color: #142d4c;
    background-color: #4676b13d;
    padding: 15px;
    margin: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    display: grid;
    grid-template-areas:
      'title title'
      'text imx'
      'text imx';
    grid-gap: 10px;
}
.item1{ grid-area: title;}
.item2{ grid-area: text;}
.item3{ grid-area: imx;
    width: 150px;
    align-self: flex-end;
    justify-self: end;}
.revcont{
    border-style: solid;
	border-radius: 15px;
    border-color: #142d4c;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 15px;
    margin: 15px;
}

.imx{
    border-style: solid;
	border-radius: 15px;
    border-color: #275997;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	border-radius: 15px;
    background-size: 150px;
    background-repeat: no-repeat;
    background-position:center;
    background-size:100% 100%;
    width: 150px;
    height: 150px;
    align-self: flex-end;
    justify-self: end;
}

.myheader{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
    text-align: center;

    margin-bottom: 10px;
    min-width: 500px;
    max-width: 800px;
    height: 20px;
    background-color: #ddcca6;
    border-radius: 25px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.notfound{
	border-radius: 15px;
    background-color: black;
    background-image: url(https://www.pngitem.com/pimgs/m/254-2549834_404-page-not-found-404-not-found-png.png);
    background-size: 350px;
    width: 350px;
    height: 350px;
    width: 80%;
    margin: 0 auto;

}
